* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 50px 0;
  background-color: #333366;
  .boards {
    display: flex;
    width: 100%;
    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-self: baseline;
      max-width: 250px;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
      margin: 0 15px;
      padding: 10px;
      transition: .3s all ease;
      border-radius: 3px;
      .cross-board {
        position: absolute;
        font-size: 25px;
        color: red;
        right: 10px;
        top: 10px;
        cursor: pointer;
      }
      .title {
        padding: 5px;
        color: #fff;
        cursor: pointer;
        &:focus {
          outline: 1px solid rgba(168, 168, 168, .45);
          cursor: auto;
        }
      }
      .list {
        height: 40px;
        &__item {
          background-color: #fefefe;
          border-radius: 3px;
          padding: 10px;
          text-align: left;
          margin-top: 10px;
          cursor: pointer;
          font-weight: 400;
          font-size: 14px;
          outline: none;
          border: none;
          position: relative;
          .cross-card {
            position: absolute;
            right: 10px;
            top: 8px;
            color: #a0110c;
            font-size: 20px;
          }
        }
      }
      .form {
        border-radius: 3px;
        margin-top: 10px;
        .textarea {
          resize: none;
          height: 60px;
          border-radius: 3px;
          border: none;
          background: #fff;
          padding: 10px;
          width: 100%;
          margin-bottom: 5px;
          &:focus {
            outline: none;
          }
          }
        .red {
          &::-moz-placeholder, &::-webkit-input-placeholder {
            color: red;
            font-weight: 600;
          }
        }
        .buttons {
          display: flex;
          .add__item-btn {
            background: rgb(13, 136, 218);
            border: none;
            height: 35px;
            cursor: pointer;
            color: #fff;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            width: 100%;
            font-size: 14px;
          }
          .cancel__item-btn {
            padding: 0 10px;
            background: rgb(160, 17, 12);
            border: none;
            height: 35px;
            cursor: pointer;
            color: #fff;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            margin-right: auto;
            flex-shrink: 0;
            font-size: 14px;
          }
        }
      }
      .add__btn {
        height: 30px;
        background: rgba(155, 155, 155, .3);
        border-radius: 3px;
        margin-top: 10px;
        display: flex;
        font-size: 12px;
        align-items: center;
        padding-left: 10px;
        color: #fff;
        cursor: pointer;
        span {
          font-size: 20px;
          margin-right: 10px;
          color: #fff;
        }
      }
    }
  }
  .button {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(19, 130, 204, .62);
    border: none;
    width: 150px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
  }
}

